body{
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	background-color: #020139;
}

h1{
	text-align: center;
	color: #CC6600;
}

hr{border: 1px solid #CC6600;width:399px;}

.calculator{
	color: #CC6600;
	border: 1px solid #CC6600;
	margin: 0 auto;
	width: 400px;
	height: 390px;
	border-radius: 5%;
	background-color: #02001F;
}

.button-layout{
	position: relative;
	margin: 0 auto;
	top: 75px;
	width: 315px;
	height: 250px;
}

.button-layout button{
	border: 1px solid #CC6600;
	background-color: #02001F;
	font-size: 18px;
	text-decoration: none;
	color: #CC6600;
	width: 75px;
	height: 50px;
	padding: 8px 8px 8px 8px;
}

.button-layout button:hover{
	background-color: #1f1f1f;
	color: #CC6600;
	border: 1px solid #CC8800;
}

.operator-layout{
	width: 50px;
	height: 200px;
	float: right;
	position: relative;
}

.output{
	position: relative;
	top: 25px;
	font-size: 40px;
	padding-right: 20px;
	height: 40px;
	text-align: right;
}

@media screen and (max-width: 487px){
	
.calculator{
	width: 300px;
	height: 375px;
}

.button-layout{
	position: relative;
	margin: 0 auto;
	top: 85px;
	width: 275px;
	height: 250px;
}

.button-layout button{
	font-size: 16px;
	width: 65px;
	height: 45px;
	padding: 0px 0px 0px 0px;
}	

hr{border: 1px solid #CC6600;width:299px;}

}